@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;2@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');00&display=swap");

:root {
  --vh: 1vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100dvh;
  display: flex;
  font-family: "Poppins", sans-serif;
}

body:has(.sidebar-menu) {
  overflow: hidden;
}
